<h1>Questions#index</h1>
<%= render 'loginlink' %>
<%= link_to 'New Question', action='/users/:user_id/questions/new' %>

<div>
  <div class="container questions_list">
      <% @questions.each do |question| %>
        <div class= "row question_entry mt-1">
          <div class="col-sm"><%= question.title %></div>
          <div class="col-sm"><%= question.body %></div>
          <div class="col-sm"><%#= link_to 'Show', question %></div>

        </div>
      <% end %>
  </div>
 
</div>